.supplement-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.supplement-item {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.supplement-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.supplement-item img {
  width: 60%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin-bottom: 15px;
}

.supplement-info {
  padding: 10px;
  width: 100%;
}

.supplement-price {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0;
  margin-bottom: 5px; /* Adjusted margin */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.supplement-description {
  font-size: 0.95em;
  color: #666;
  margin: 10px 0;
  line-height: 1.5;
  text-align: center;
  padding: 0 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.quantity-input {
  width: 30%; /* 수량 입력 필드의 너비를 더 작게 설정 */
  min-width: 50px; /* 최소 너비를 설정하여 너무 작아지지 않도록 함 */
  padding: 0.2rem 0.5rem; /* 수량 입력 필드의 내부 패딩 조정 */
  font-size: 1rem; /* 글자 크기를 줄여서 필드를 작게 만듦 */
}

.add-to-cart-button {
  font-size: 1.5rem; /* 버튼의 글꼴 크기를 적절히 키움 */
  padding: 0.75rem 1.5rem; /* 버튼의 패딩을 늘려 크기를 키움 */
  width: auto; /* 버튼의 너비를 자동으로 설정 */
  flex-grow: 1; /* 버튼이 남은 공간을 차지하도록 설정 */
  display: flex; /* 버튼 내 텍스트와 아이콘을 정렬하기 위해 flexbox 사용 */
  justify-content: center; /* 텍스트와 아이콘을 가운데 정렬 */
  align-items: center; /* 텍스트와 아이콘을 세로로 가운데 정렬 */
}