<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<style>
    .layout{
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input,textarea{
        width:100%;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .layout textarea{
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>
<body>
<div th:insert="~{header}"></div>
<div class="layout">
    <form th:action="@{/board/update/{id}(id=${board.id})}" method="post" enctype="multipart/form-data">
        <input type="text" name="title" th:value="${board.title}">
        <textarea name="content" th:text="${board.content}"></textarea>
        <div class="file_info" th:if="${oriName!=null}">
            <p>기존 파일 : <span th:text="${oriName}"></span></p>
        </div>
        <input type="file" name="file">
        <select name="category">
            <option value="cold_medicine">감기약</option>
            <option value="digestive_medicine">소화제</option>
            <option value="herbal_medicine">한약</option>
            <option value="headache_medicine">두통약</option>
        </select>
        <input type="price" name="price" th:value="${board.price}">
        <button type="submit">수정</button>
    </form>
</div>
</body>
</html>