<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form action="/member/create" name="inputForm" method="post" enctype="multipart/form-data" onsubmit="return checkField();">
    이메일 : <input type="text" name="email"><br>
    비밀번호 : <input type="password" name="pw"><br>
    닉네임 : <input type="text" name="name"><br>
    <input type="submit" value="가입">
</form>
</body>

<script>
    function checkField(){
        let inputs = document.inputForm;
        if(!inputs.email.value){	// name속성이 id인 요소의 value가 없으면 true
            alert("이메일을 입력하세요.");
            return false;	// pro페이지로 이동 금지.
        }
        if(!inputs.pw.value){
            alert("비밀번호를 입력하세요.");
            return false;
        }
        if(!inputs.name.value){
            alert("닉네임을 입력하세요.");
            return false;
        }
    }
</script>

</html>